@charset "UTF-8";
/* fuentes */
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
/* fuente general */
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
/* fuente títulos */
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap");
/* fuente intro */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&display=swap");
/* fuente quienes somos */
@-webkit-keyframes bgfade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bgfade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes desplegar-menu {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  80% {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes desplegar-menu {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  80% {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes menu-resaltado {
  0% {
    background-color: #ffa600;
  }
  25% {
    background-color: rgba(255, 166, 0, 0.75);
  }
  50% {
    background-color: rgba(255, 166, 0, 0.5);
  }
  75% {
    background-color: rgba(255, 166, 0, 0.75);
  }
  100% {
    background-color: #ffa600;
  }
}

@keyframes menu-resaltado {
  0% {
    background-color: #ffa600;
  }
  25% {
    background-color: rgba(255, 166, 0, 0.75);
  }
  50% {
    background-color: rgba(255, 166, 0, 0.5);
  }
  75% {
    background-color: rgba(255, 166, 0, 0.75);
  }
  100% {
    background-color: #ffa600;
  }
}

@-webkit-keyframes aparece-menu {
  0% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  80% {
    -webkit-transform: rotateY(-10deg);
            transform: rotateY(-10deg);
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}

@keyframes aparece-menu {
  0% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  80% {
    -webkit-transform: rotateY(-10deg);
            transform: rotateY(-10deg);
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}

/* ------------------------ Maps ------------------------  */
.bi-twitter:hover {
  color: #1d9bf0;
}

.twitter:hover {
  color: #1d9bf0;
}

.bi-facebook:hover {
  color: #385898;
}

.facebook:hover {
  color: #385898;
}

.bi-instagram:hover {
  color: #b300a5;
}

.instagram:hover {
  color: #b300a5;
}

.bi-whatsapp:hover {
  color: lime;
}

.whatsapp:hover {
  color: lime;
}

/* ------------------------Compartidos------------------------ */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1080%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(4%2c 7%2c 36%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c620.406C121.212%2c625.486%2c249.213%2c611.856%2c347.603%2c540.881C444.089%2c471.28%2c484.534%2c351.778%2c526.64%2c240.508C566.319%2c135.652%2c606.89%2c25.787%2c584.056%2c-83.975C561.794%2c-190.984%2c487.289%2c-279.35%2c403.813%2c-349.906C328.268%2c-413.759%2c228.218%2c-427.302%2c135.885%2c-462.782C33.868%2c-501.984%2c-58.064%2c-575.741%2c-167.165%2c-569.313C-287.596%2c-562.218%2c-415.277%2c-519.393%2c-491.426%2c-425.823C-567.087%2c-332.852%2c-570.013%2c-200.89%2c-564.434%2c-81.153C-559.532%2c24.051%2c-500.531%2c112.957%2c-461.758%2c210.878C-420.499%2c315.079%2c-413.217%2c438.146%2c-329.37%2c512.509C-241.149%2c590.751%2c-117.816%2c615.468%2c0%2c620.406' fill='%2303061f'%3e%3c/path%3e%3cpath d='M1920 1545.484C2019.518 1558.212 2137.896 1603.156 2214.812 1538.737 2293.462 1472.865 2251.358 1342.8609999999999 2279.665 1244.253 2302.533 1164.591 2362.661 1098.888 2364.863 1016.038 2367.293 924.6179999999999 2350.948 827.56 2292.612 757.13 2233.844 686.178 2141.334 650.395 2050.296 636.254 1965.758 623.123 1881.475 647.31 1802.861 681.06 1731.114 711.8620000000001 1672.247 762.009 1620.723 820.675 1568.904 879.6759999999999 1531.866 946.566 1504.904 1020.318 1471.992 1110.348 1413.851 1206.075 1446.944 1296.038 1480.098 1386.1689999999999 1585.022 1424.26 1669.97 1469.054 1748.653 1510.5439999999999 1831.767 1534.199 1920 1545.484' fill='%23050829'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1080'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  margin: 0 auto;
  -webkit-animation: bgfade 1.5s;
          animation: bgfade 1.5s;
  font-family: 'Kanit', sans-serif;
}

body main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px;
}

body main .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.titulo {
  font-size: 1.5rem;
  text-align: center;
}

.titulo h1 {
  font-family: 'Bree Serif', serif;
  color: #ff9103;
  text-transform: uppercase;
}

#btn-back-to-top {
  background-color: #ff9103;
  color: #00185c;
  position: fixed;
  bottom: 20px;
  right: 20rem;
  display: none;
}

/* ------------------------- Barra de Navegación ------------------------- */
.navbar {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23021438'/%3E%3Cstop offset='1' stop-color='%23010D25'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%2302112f'/%3E%3Cstop offset='1' stop-color='%23010D25'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='translate(900 0)'%3E%3Cg transform='translate(0 1500)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-122.4 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.49' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  border-bottom: #ff9103 solid 0.1rem;
  color: white;
  text-transform: uppercase;
  z-index: 100;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 1.3rem;
  padding: 5px;
  margin: auto 20px;
}

.navbar .logo img {
  width: 100%;
  max-width: 250px;
  min-width: 125px;
}

.navbar .dropdown-menu {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23021438'/%3E%3Cstop offset='1' stop-color='%23010D25'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%2302112f'/%3E%3Cstop offset='1' stop-color='%23010D25'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='translate(900 0)'%3E%3Cg transform='translate(0 1500)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-122.4 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.49' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-color: #fff0;
  border: none;
}

.navbar .dropdown-menu.show {
  border-radius: 0;
  -webkit-animation: desplegar-menu 400ms ease-in-out forwards;
          animation: desplegar-menu 400ms ease-in-out forwards;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

.navbar .dropdown-item {
  color: white;
  text-transform: capitalize;
}

.navbar .dropdown-item:hover {
  -webkit-animation: menu-resaltado 1000ms linear 3ms infinite;
          animation: menu-resaltado 1000ms linear 3ms infinite;
}

.nav-link {
  padding: 1px;
}

.nav-link:hover {
  padding: 0;
  color: white;
  border-radius: 5px;
  -webkit-animation: menu-resaltado 1000ms linear 3ms infinite;
          animation: menu-resaltado 1000ms linear 3ms infinite;
}

#navbarSupportedContent {
  -webkit-animation: aparece-menu 500ms ease-in-out forwards;
          animation: aparece-menu 500ms ease-in-out forwards;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

/* ------------------------ Pie de Página ------------------------  */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23021438'/%3E%3Cstop offset='1' stop-color='%23010D25'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%2302112f'/%3E%3Cstop offset='1' stop-color='%23010D25'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='translate(900 0)'%3E%3Cg transform='translate(0 1500)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-122.4 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.49' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  border-top: #ff9103 solid 0.1rem;
  color: white;
  text-transform: uppercase;
}

footer a {
  color: white;
  -webkit-transition: all 1s;
  transition: all 1s;
  text-decoration: none;
}

footer p {
  font-size: 0.9rem;
  margin: 0;
}

footer .bi {
  font-size: 1.4rem;
  margin: 0.25rem;
  color: white;
}

footer .footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 1.5rem 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .footer__info .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-size: 0.7rem;
}

footer .footer__info .mpago {
  width: 50%;
  -webkit-transition: all 333ms;
  transition: all 333ms;
}

footer .footer__info .mpago:hover {
  -webkit-filter: invert(48%) sepia(90%) saturate(3207%);
          filter: invert(48%) sepia(90%) saturate(3207%);
}

footer .footer__info .envio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-size: 0.8rem;
}

footer .footer__info .envio a:hover {
  color: #ff9103;
}

footer .footer__copyRigth {
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 100;
  text-align: center;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

footer .footer__copyRigth p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-size: 0.9rem;
  text-transform: capitalize;
}

/* ------------------------ Index ------------------------  */
.intro {
  max-width: 92%;
  margin-top: 2rem;
  padding: 1.5rem;
  color: white;
  font-size: 1.5rem;
  -webkit-box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}

.intro p {
  font-family: 'Signika Negative', sans-serif;
}

.carousel-caption h4 {
  text-transform: uppercase;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.proceso {
  margin: 20px auto;
  color: white;
  font-size: 1.2rem;
  list-style-position: outside;
  border-block: #ff9103 solid;
}

.proceso li {
  list-style: disc;
}

.proceso h2 {
  color: #ff9103;
  border-bottom: silver 2px solid;
}

.proceso h5 {
  color: cyan;
  text-shadow: 2px 3px 0 #00185c;
}

/* ------------------------ ¿Quienes Somos? ------------------------ */
.quienes {
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quienes__texto {
  margin: 0 1rem;
  width: 320px;
  height: 100%;
  padding: 2.8rem 1rem;
  background: seashell;
  border: 2px #00185c solid;
}

.quienes__texto p {
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.2rem;
  text-align: justify;
  color: #00185c;
}

.quienes #taller img {
  width: 100%;
}

/* ------------------------- Galerias ------------------------ */
.galeria {
  margin: 2rem 0;
}

.galeria h2 {
  text-align: center;
  color: white;
}

.galeria__container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  padding: 2rem;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem 2rem;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.galeria__container .camiseta {
  background: rgba(255, 255, 255, 0.74);
  border: 0.14rem #ff9103 solid;
  border-radius: 1rem;
  max-width: 300px;
}

.galeria__container .camiseta img {
  max-width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.galeria__container .camiseta__desc {
  font-family: 'Bree Serif', serif;
  font-weight: 600;
  padding: 0.5rem;
  color: #00185c;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.galeria__container .camiseta:hover {
  -webkit-filter: saturate(2);
          filter: saturate(2);
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 4px, rgba(255, 255, 255, 0.3) 0px 7px 13px -3px, rgba(255, 255, 255, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 4px, rgba(255, 255, 255, 0.3) 0px 7px 13px -3px, rgba(255, 255, 255, 0.2) 0px -3px 0px inset;
}

/* ------------------------ Tabla de Talles ------------------------ */
.talles {
  max-width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  font-family: 'Signika Negative', sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.talles__info, .talles__guia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 1.5rem;
}

.talles__info h2,
.talles__info h3, .talles__guia h2,
.talles__guia h3 {
  color: #ff9103;
}

.talles__info p, .talles__guia p {
  color: white;
}

.talles__fem, .talles__masc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.talles__fem__camiseta, .talles__masc__camiseta {
  width: 100%;
  height: auto;
  margin: 1rem;
}

.talles__fem__camiseta img, .talles__masc__camiseta img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.talles__fem table, .talles__masc table {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  font-size: 1rem;
  text-align: center;
}

.talles__fem table tr, .talles__masc table tr {
  background-color: #ff9103;
  border: 0.1rem white dashed;
}

.talles__fem table tr th, .talles__masc table tr th {
  padding: 0.4rem;
  background: #ff5b33;
  color: white;
  border: 2px solid;
}

.talles__fem table tr td, .talles__masc table tr td {
  width: 5rem;
  border: inherit;
}

/* ------------------------ Presupuesto ------------------------ */
.presupuesto {
  max-width: 25rem;
  height: auto;
  margin: 2rem auto;
  border-radius: 10px;
  padding: 2rem 1rem;
  background: #dbceb6;
}

.presupuesto h3 {
  font-size: 1.6rem;
  padding-bottom: 1rem;
}

.presupuesto input {
  width: 100%;
  height: 1rem;
  margin: 1rem 0;
  padding: 1.5rem;
  background-color: white;
  border: #ff9103 1px solid;
  border-radius: 5px;
}

.presupuesto label {
  display: block;
}

.presupuesto .club > input[type="radio"] {
  display: none;
}

.presupuesto .club > input[type="radio"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: black;
}

.presupuesto .club > input[type="radio"]:checked + * {
  color: #ff9103;
}

.presupuesto .club > input[type="radio"]:checked + *::before {
  background: radial-gradient(#ff9100 0%, #ff9100 40%, transparent 50%, transparent);
  border-color: #ff9103;
}

.presupuesto .btn_attach {
  display: inline-block;
  width: 22rem;
  height: 3rem;
  margin: 0.5rem;
  color: #00185c;
  background: #ff9103;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: all 333ms;
  transition: all 333ms;
}

.presupuesto .btn_attach:active {
  border: #00185c 0.2rem solid;
}

.presupuesto .btn_attach input[type="file"] {
  opacity: 0;
  height: 35px;
  width: 100%;
}

.presupuesto .btn_attach span {
  position: relative;
  top: -4.5rem;
  z-index: 0;
}

.presupuesto .advertencia {
  background: seashell;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
}

.presupuesto .btn_send {
  display: inline-block;
  width: 22rem;
  height: 3rem;
  margin: 0.5rem;
  color: white;
  background: #00185c;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: all 333ms;
  transition: all 333ms;
}

.presupuesto .btn_send:active {
  border: white 0.2rem solid;
}

.presupuesto .btn_del {
  display: inline-block;
  width: 22rem;
  height: 3rem;
  margin: 0.5rem;
  color: white;
  background: #ff5b33;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: all 333ms;
  transition: all 333ms;
}

.presupuesto .btn_del:active {
  border: white 0.2rem solid;
}

/* ------------------------ Contacto ------------------------ */
.container_datos_contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container_datos_contacto .datos {
  width: 25rem;
  height: 100%;
  margin: 1rem 2rem;
  border-radius: 1rem;
  padding: 1rem;
  background: #e9e9e9;
}

.container_datos_contacto .datos h2 {
  font-size: 2rem;
  text-align: left;
  color: #ff9103;
}

.container_datos_contacto .datos h3 {
  padding-top: 1rem;
  padding-bottom: 0;
  color: black;
  font-size: 1rem;
  text-decoration: underline;
}

.container_datos_contacto .datos p {
  color: #ff9103;
  font-size: 1.0rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.container_datos_contacto .datos a {
  color: #ff9103;
  font-size: 1rem;
  -webkit-transition: all 1s;
  transition: all 1s;
  text-decoration: none;
}

.container_datos_contacto .datos a:hover {
  color: #00185c;
}

.container_datos_contacto .datos .bi-whatsapp {
  color: #00e676;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.container_datos_contacto .datos .bi-whatsapp:hover {
  color: lime;
}

.container_datos_contacto .datos .ubicacion {
  padding: 1rem 0;
  width: 100%;
}

.container_datos_contacto .datos .ubicacion #gmap_canvas {
  width: 23rem;
  height: 24rem;
  padding-top: 1rem;
}

.container_datos_contacto .contacto {
  width: 25rem;
  height: auto;
  margin: 1rem 2rem;
  border-radius: 1rem;
  padding: 1rem;
  background: #e9e9e9;
}

.container_datos_contacto .contacto h2 {
  font-size: 32px;
  text-align: left;
  padding-bottom: 20px;
  color: #ff9103;
}

.container_datos_contacto .contacto h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: black;
}

.container_datos_contacto .contacto p {
  font-size: 14px;
  color: black;
}

.container_datos_contacto .contacto label {
  display: block;
}

.container_datos_contacto .contacto .aviso {
  font-size: 1rem;
  color: #00185c;
}

.container_datos_contacto .contacto input {
  width: 100%;
  height: 1rem;
  margin: 1rem 0;
  padding: 1.5rem;
  background-color: white;
  border: #ff9103 1px solid;
  border-radius: 5px;
}

.container_datos_contacto .contacto textarea {
  width: 100%;
  height: 15rem;
  margin: 1rem 0;
  padding: 1rem;
  background-color: white;
  border: #ff9103 1px solid;
  border-radius: 5px;
}

.container_datos_contacto .contacto .advertencia {
  background: seashell;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
}

.container_datos_contacto .contacto .btn_send2 {
  display: inline-block;
  width: 22rem;
  height: 3rem;
  margin: 0.5rem;
  color: white;
  background: #ff9103;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: all 333ms;
  transition: all 333ms;
}

.container_datos_contacto .contacto .btn_send2:active {
  border: white 0.2rem solid;
}

.gracias,
.error {
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  margin: 0 auto;
}

.gracias h3,
.error h3 {
  color: white;
  text-align: center;
}

.gracias img,
.error img {
  margin: 1rem;
  width: 80%;
}

.gracias .goback h4,
.error .goback h4 {
  color: white;
  text-align: center;
}

/* ------------------------ Media Queries ------------------------  */
@media screen and (max-width: 576px) {
  .logo {
    max-width: 50%;
  }
}

@media (min-width: 576px) and (max-width: 863px) {
  html {
    font-size: 80%;
  }
  .footer__info,
  .footer__copyRight {
    padding: 0;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 75%;
  }
  footer .bi {
    margin: 0.5rem;
  }
  footer .footer__info .bi-link,
  footer .footer__info .pago,
  footer .footer__info .envio,
  footer .footer__info .telefono {
    display: none;
  }
  footer .footer__info .redes {
    margin: 1rem;
    font-size: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    width: 100%;
    height: auto;
  }
  footer .footer__info .redes p {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 1400px) {
  #btn-back-to-top {
    right: 2rem;
  }
}

@media screen and (max-width: 576px) {
  #btn-back-to-top {
    right: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .quienes__texto {
    width: 100%;
    margin: 0;
    padding: 1.5rem;
  }
  .quienes #taller {
    margin-top: 1rem;
  }
}

@media (min-width: 577px) and (max-width: 1190px) {
  .quienes {
    margin: 0 auto;
  }
  .quienes__texto {
    margin: 0;
    width: 100%;
    max-width: 829px;
  }
  .quienes #taller {
    margin-top: 2rem;
  }
}

@media (min-width: 577px) and (max-width: 820px) {
  .galeria__container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  .galeria__container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .galeria__container .camiseta__desc {
    font-size: 0.8rem;
    font-weight: 200;
  }
}

@media (min-width: 320px) and (max-width: 940px) {
  .talles__fem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .talles__masc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .talles table {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 320px) {
  .presupuesto input {
    width: 100%;
  }
  .presupuesto .btn_attach,
  .presupuesto .btn_send,
  .presupuesto .btn_del {
    width: 100%;
    margin: 1rem 0;
  }
  .presupuesto .btn_attach span,
  .presupuesto .btn_send span,
  .presupuesto .btn_del span {
    top: -4.6rem;
  }
}

@media (min-width: 321px) and (max-width: 820px) {
  .presupuesto {
    padding: 1.5rem;
  }
  .presupuesto .btn_attach span {
    top: -4.3rem;
  }
}

@media screen and (max-width: 576px) {
  .container_datos_contacto .datos {
    margin: 1rem 0;
  }
  .container_datos_contacto .datos a {
    font-size: 1.2rem;
  }
  .container_datos_contacto .ubicacion {
    padding: 1rem 0;
  }
  .container_datos_contacto .ubicacion #gmap_canvas {
    max-width: 22rem;
    max-height: 22rem;
    padding-top: 1rem;
  }
  .container_datos_contacto .contacto {
    margin: 1rem 0;
  }
  .container_datos_contacto .contacto input,
  .container_datos_contacto .contacto textarea {
    max-width: 100%;
  }
  .container_datos_contacto .contacto .btn_send2 {
    width: 100%;
    margin: 1rem 0;
  }
}
/*# sourceMappingURL=style.css.map */