.gracias, .error {
    max-width: 800px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 0 auto;

    h3 {
    color: $colorTxSecundario;
    text-align: center;
    }

    img {
        margin: 1rem;
        width: 80%;
    }
    .goback h4 {
        color: $colorTxSecundario;
        
    }
}
