/* ------------------------Compartidos------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    list-style: none;
}

body {
    background-image: $backgroundPrincipal;
    margin: 0 auto;
    animation: bgfade 1.5s;
    font-family: 'Kanit', sans-serif;
    main {
        max-width: $desktop;
        margin: 0 auto;
        padding: 10px;
        .row {
            justify-content: center;
            margin: auto;
        }
    }
}

.titulo {
    font-size: 1.5rem;
    text-align: center;

    h1 {
        font-family: 'Bree Serif', serif;
        color: $colorTxPrincipal;
        text-transform: uppercase;
    }
}

#btn-back-to-top {
    background-color: $colorTxPrincipal;
    color: $colorTxAzul;
    position: fixed;
    bottom: 20px;
    right: 20rem;
    display: none;
}
