/* ------------------------- Galerias ------------------------ */


.galeria {
  margin: 2rem 0;

  h2 {
    text-align: center;
    color: $colorTxSecundario;
  }

  &__container {
    display: grid;
    width: 100%;
    padding: 2rem;
    grid-template-columns: auto auto auto;
    gap: 1rem 2rem;
    text-align: center;
    justify-content: center;

    .camiseta {
      background: $colorCamiseta;
      border: 0.14rem $colorTxPrincipal solid;
      border-radius: 1rem;
      max-width: 300px;

      img {
        max-width: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        transition: all 500ms;
      }

      &__desc {
        font-family: 'Bree Serif', serif;
        font-weight: 600;
        padding: 0.5rem;
        color: $colorTxAzul;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
      }

      &:hover {
        filter: saturate(2);
        box-shadow: $colorSombraGal
      }
    }
  }
}