/* ------------------------ Index ------------------------  */

.intro {
  max-width: 92%;
  margin-top: 2rem;
  padding: 1.5rem;
  color: $colorTxSecundario;
  font-size: 1.5rem;
  box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.2); 
  border-radius: 5px;
  background-color: $colorIntro;
  p {
    font-family: 'Signika Negative', sans-serif;
  }
}

.carousel-caption h4 {
  text-transform: uppercase;
  text-shadow: $colorSombra;
}

.proceso {
  margin: 20px auto;
  color: $colorTxSecundario;
  font-size: 1.2rem;
  list-style-position: outside;
  border-block: $colorTxPrincipal solid;

  li {
    list-style: disc;
  }

  h2 {
    color: $colorTxPrincipal;
    border-bottom: $colorBorProc 2px solid;
  }

  h5 {
    color: $colorTxProceso;
    text-shadow: 2px 3px 0 $colorTxAzul;
  }
}