/* ------------------------ Maps ------------------------  */

$redes-sociales: (
    twitter : $colorTW,
    facebook : $colorFace,
    instagram : $colorIG,
    whatsapp : $colorWAH
);
@each $nombre, $valor in $redes-sociales {
    .bi-#{$nombre}:hover {
        color: $valor;
    }
    .#{$nombre}:hover {
        color: $valor
    }
}
$colores_fondo: (
    presupuesto: $colorPres,
    quienes: $colorFondQS,
    contacto: $colorContacto
);
