/* ------------------------ Media Queries ------------------------  */

// Pie de página
@media (min-width: $mobile) and (max-width: $tablet) {
  html {
    font-size: 80%;
  }

  body {
    overflow-x: hidden;
  }

  .footer .container .row {
    padding: 0;
  }
}

@media screen and (max-width: $mobile) {
  html {
    font-size: 75%;
  }

  .container {
    overflow-x: hidden;
  }

  .footer .bi {
    margin: 2rem;
  }

  .bi-link,
  .pago,
  .envio,
  .telefono {
    display: none
  }

  .redes {
    p {
      display: none;
    }

    font-size: 0;
    flex-flow: row;
    width: 100%;
    height: auto;
  }
}

// Posicionamiento Boton "volver arriba"
@media (min-width: $mobile) and (max-width: $desktop) {
  #btn-back-to-top {
    right: 2rem;
  }
}

@media screen and (max-width: $mobile) {
  #btn-back-to-top {
    right: 1rem;
  }
}

// Quienes somos
@media screen and (max-width: $mobile) {
  .quienes {
    max-width: 340px;
    margin: auto;
  }

  .quienesTexto {
    margin: 0px;
    max-height: 320px;
  }

  #taller {
    margin-top: 1rem;
    width: 100%;
    height: 100%;
  }
}

//Galerias
@media screen and (max-width: $mobile) {
  .container_gal {
    grid-template-columns: auto auto;

    img {
      max-width: 100%;
    }
  }
}

//Presupuesto
@media screen and (max-width: $mobilexs) {
  .presupuesto {
    padding: 0.5rem;
  }

  .btn_attach {
    span {
      top: -4.6rem;
    }
  }
}

@media (min-width: ($mobilexs+ 1px)) and (max-width: $tablet) {
  .presupuesto {
    padding: 1.5rem;
  }

  .btn_attach {
    span {
      top: -4.4rem;
    }
  }

}


//Contacto
@media (min-width: $mobile) and (max-width: $tablet) {
  .datos {
    width: 30rem;
  }
}

@media screen and (max-width: $mobile) {
  .datos {
    width: auto;
  }

  .ubicacion {
    padding-top: 20px;
    padding-bottom: 10px;
    width: auto;
    overflow: hidden;
  }

  .contacto {
    width: auto;
    margin: 1rem;
    padding: 1rem;
  }
}