/* ------------------------ Media Queries ------------------------  */

//logo
@media screen and (max-width: $mobile) {
  .logo {
    max-width: 50%;
  }
}

// Pie de página
@media (min-width: $mobile) and (max-width: $tablet) {
  html {
    font-size: 80%;
  }

  body {
    overflow-x: hidden;
  }

  .footer .container .row {
    padding: 0;
  }
}

@media screen and (max-width: $mobile) {
  html {
    font-size: 75%;
  }

  .container {
    overflow-x: hidden;
  }

  .footer .bi {
    margin: 2rem;
  }

  .bi-link,
  .pago,
  .envio,
  .telefono {
    display: none
  }

  .redes {
    p {
      display: none;
    }

    font-size: 0;
    flex-flow: row;
    width: 100%;
    height: auto;
  }
}

// Posicionamiento Boton "volver arriba"
@media (min-width: $mobile) and (max-width: $desktop) {
  #btn-back-to-top {
    right: 2rem;
  }
}

@media screen and (max-width: $mobile) {
  #btn-back-to-top {
    right: 1rem;
  }
}

// Quienes somos
@media screen and (max-width: $mobile) {
  .quienes {
    &__texto {
      width: 100%;
      margin: 0;
      padding: 1.5rem;
    }

    #taller {
      margin-top: 1rem;
    }
  }
}


@media (min-width: ($mobile + 1px)) and (max-width: ($tablet + 370px)) {
  .quienes {
    width: 780px;
    margin: 0 auto;

    &__texto {
      margin: 0;
      width: 100%;
    }

    #taller {
      margin-top: 2rem;
    }
  }
}

//Galerias
@media screen and (max-width: $mobile) {
  .galeria {
    &__container {
      grid-template-columns: auto auto;

      .camiseta {
        &__desc {
          font-size: 0.8rem;
          font-weight: 200;
        }
      }
    }
  }
}

//Tabla de talles
@media screen and (max-width: $mobile) {
  table {
    th {
    padding: 0.4rem;
    font-size: 0.8rem;
    font-weight: 100;
  }
  }
}

//Presupuesto
@media screen and (max-width: $mobilexs) {
  .presupuesto {
    padding: 0.5rem;

    input {
      width: 100%;
    }

    .btn_attach,
    .btn_send,
    .btn_del {
      width: 100%;
      margin: 1rem 0;

      span {
        top: -4.6rem;
      }
    }
  }
}

@media (min-width: ($mobilexs+ 1px)) and (max-width: $tablet) {
  .presupuesto {
    padding: 1.5rem;

    .btn_attach {
      span {
        top: -4.3rem;
      }
    }
  }
}

//Contacto
@media screen and (max-width: $mobile) {
  .datos {
    width: 30.5rem;
  }

  .ubicacion {
    width: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    overflow: hidden;
  }

  .contacto {
    width: auto;
    margin: 1rem;
    padding: 1rem;

    input,
    textarea {
      max-width: 100%;
    }

    .btn_send2 {
      width: 100%;
      margin: 1rem 0;
    }
  }
}