/* ------------------------Quienes Somos------------------------ */
.quienes {
  display: flex;
  flex-flow: row wrap;
}

.quienesTexto {
  margin: 0;
  height: 480px;
  width: 400px;
  font-size: 1.3rem;
  color: $colorTxAzul;
  background: $colorFondQS;
  border: 2px $colorTxAzul solid;
  padding: 25px 10px 10px 10px;
  text-align: justify;
}

#taller {
  height: 480px;
  width: 816px;
  border: 2px $colorTxAzul solid;
  overflow: hidden;
}