/* ------------------------ ¿Quienes Somos? ------------------------ */

.quienes {
  margin: 2rem;
  display: flex;
  flex-flow: row wrap;
}

.quienesTexto {
  margin: 0;
  height: 480px;
  width: 400px;
  padding: 3rem 1rem;
  background: map-get($map: $colores_fondo , $key: quienes);
  border: 2px $colorTxAzul solid;
  p {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.4rem;
    text-align: justify;
    color: $colorTxAzul;
  }
}

#taller {
  height: 480px;
  width: 816px;
  overflow: hidden;
}