/* ------------------------ Tabla de Talles ------------------------ */

table {
  margin: 6rem auto;
  padding: 1rem;
  background-color: $colorTxSecundario;
  font-size: 1rem;
  text-align: center;
  tr {
    background-color: $colorTxPrincipal;
    border: 0.1rem $colorTxSecundario dashed;
    th {
      padding: 0.4rem;
      background: $colorTab;
      color: $colorTxSecundario;
      border: 2px solid;
    }
    td {
      width: 5rem;
      border: inherit;
    }
  }
  
}




